.venv/
artifacts/
repo_*/
dl/
node_modules/
build/
dist/
__pycache__/
*.egg-info/
attic/

# Secrets
.env
**/*client_secret*.json
**/credentials*.json

# Secrets
.env
credentials.json
**/*client_secret*.json
**/credentials*.json
